<a href="https://colab.research.google.com/github/Valentina-Shatylovich/GEO-Museum/blob/main/6_10_Gram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Васю назначили завхозом в туристической группе и он подошёл к подготовке ответственно, составив справочник продуктов с указанием калорийности на 100 грамм, а также содержание белков, жиров и углеводов на 100 грамм продукта. Ему не удалось найти всю информацию, поэтому некоторые ячейки остались незаполненными (можно считать их значение равным нулю). Также он использовал какой-то странный офисный пакет и разделял целую и дробную часть чисел запятой. Таблица доступна по ссылке https://online.hse.ru/pluginfile.php/604906/question/questiontext/1236345/1/789259/trekking3_6_6_3.xlsx

Вася составил раскладку по продуктам на весь поход (она на листе "Раскладка") с указанием номера дня, названия продукта и его количества в граммах. Для каждого дня посчитайте 4 числа: суммарную калорийность и граммы белков, жиров и углеводов. Числа округлите до целых вниз и введите через пробел. Информация о каждом дне должна выводиться в отдельной строке.

In [48]:
import pandas as pd
products = pd.read_excel("/content/raskladka.xlsx")
kilo = pd.read_excel("/content/trekking3_6_6_3.xlsx")
products.head(10)

   День                       Продукт  Вес в граммах
0     1        Рис пропаренный Увелка            160
1     1              Свинина Кронидов            250
2     1      Хлебцы льняные "Тайские"            110
3     1           Балык "Королевский"             50
4     1        Шоколад молочный какао             55
5     2      Омлет с грибами галагала             60
6     2                   Сыр Маасдам             80
7     2        Хлебцы льняные Морские             55
8     2  Суп гороховый с копченостями             44
9     2        Хлебцы льняные Морские             55

In [35]:
kilo

                               Unnamed: 0  ККал на 100  ...  Ж на 100  У на 100
0                              Сухофрукты        548.0  ...      40.8      32.4
1                            Каша Быстров        334.0  ...       4.8      64.0
2                     Балык "Королевский"        170.0  ...       8.0       NaN
3       Колбаса с/к "Еврейская полусухая"        481.0  ...      45.0       NaN
4            Суп гороховый с копченостями        390.0  ...      11.0      52.0
5                    Суп томатный с рисом        205.5  ...       1.3      42.2
6                       Говядина Кронидов        213.0  ...      17.0       NaN
7                        Свинина Кронидов        349.0  ...      33.0       NaN
8                  Рис пропаренный Увелка        350.0  ...       1.0      78.0
9                         Крупа гречневая        360.0  ...       2.0      72.0
10                        Капеллини Макфа        344.0  ...       1.3      70.5
11             Сухарики ржаные Finn Crisp        347.0  ...       2.6      61.0
12                     Козинак арахисовый        520.0  ...      26.0      55.0
13                   Козинак подсолнечный        530.0  ...      37.0      36.0
14                 Шоколад молочный какао        601.0  ...      43.0      46.0
15               Шоколад молочный миндаль        574.0  ...      38.2      49.5
16                    Шоколад ремесленный        540.0  ...      37.8      37.1
17                            Сыр Маасдам        370.0  ...      30.0       NaN
18                              Сыр Гауда        338.0  ...      26.0       NaN
19                             Сыр Чеддер        369.0  ...      30.5       NaN
20            Сухарики ржаные с семечками        451.0  ...      16.0      59.5
21               Хлебцы льняные "Тайские"        507.0  ...      39.0      20.0
22                 Хлебцы льняные Морские        436.5  ...      29.0       1.5
23                                Паутина         12.0  ...       NaN       NaN
24              Хлебцы с чесноком и луком        212.0  ...       1.3      43.3
25                Говядина сублимрованная        474.0  ...      20.0       NaN
26                 Свинина сублимрованная        543.0  ...      35.0       NaN
27               Борщ Московский Галагала        360.0  ...      10.0      52.0
28                     Суп-гуляш галагала        382.0  ...      10.0      55.0
29      Суп куриный с картофелем галагала        390.0  ...      12.0      56.4
30      Суп говяжий с картофелем галагала        390.0  ...      12.0      56.4
31  Суп гороховый с копченостями галагала        390.0  ...      11.0      52.0
32                     Суп-харчо "Острый"        370.0  ...      10.0      55.6
33                      Картофель сушеный        333.0  ...      74.0       NaN
34               Омлет с грибами галагала        526.0  ...      30.0       4.7
35          Омлет с копченостями галагала        544.0  ...      30.0       4.7
36                                Кус Кус        336.0  ...       0.6      77.4

[37 rows x 5 columns]

In [49]:
560 + 872.5 + 557.7 + 85 + 330.55

2405.75

In [50]:
12.8 + 32.5 + 20.9 + 12.5 + 3.85

82.54999999999998

In [36]:
kilo = kilo.fillna(0)
kilo.head()

                          Unnamed: 0  ККал на 100  Б на 100  Ж на 100  У на 100
0                         Сухофрукты        548.0      12.8      40.8      32.4
1                       Каша Быстров        334.0       8.6       4.8      64.0
2                Балык "Королевский"        170.0      25.0       8.0       0.0
3  Колбаса с/к "Еврейская полусухая"        481.0      19.0      45.0       0.0
4       Суп гороховый с копченостями        390.0      16.0      11.0      52.0

In [37]:
row_kilo_list = []
for i in range((kilo.shape[0])):
  row_kilo_list.append(list(kilo.iloc[i, :]))
row_kilo_list

[['Сухофрукты', 548.0, 12.8, 40.8, 32.4],
 ['Каша Быстров', 334.0, 8.6, 4.8, 64.0],
 ['Балык "Королевский"', 170.0, 25.0, 8.0, 0.0],
 ['Колбаса с/к "Еврейская полусухая"', 481.0, 19.0, 45.0, 0.0],
 ['Суп гороховый с копченостями', 390.0, 16.0, 11.0, 52.0],
 ['Суп томатный с рисом', 205.5, 4.7, 1.3, 42.2],
 ['Говядина Кронидов', 213.0, 15.0, 17.0, 0.0],
 ['Свинина Кронидов', 349.0, 13.0, 33.0, 0.0],
 ['Рис пропаренный Увелка', 350.0, 8.0, 1.0, 78.0],
 ['Крупа гречневая', 360.0, 13.0, 2.0, 72.0],
 ['Капеллини Макфа', 344.0, 12.5, 1.3, 70.5],
 ['Сухарики ржаные Finn Crisp', 347.0, 10.0, 2.6, 61.0],
 ['Козинак арахисовый', 520.0, 15.0, 26.0, 55.0],
 ['Козинак подсолнечный', 530.0, 14.0, 37.0, 36.0],
 ['Шоколад молочный какао', 601.0, 7.0, 43.0, 46.0],
 ['Шоколад молочный миндаль', 574.0, 7.7, 38.2, 49.5],
 ['Шоколад ремесленный', 540.0, 10.8, 37.8, 37.1],
 ['Сыр Маасдам', 370.0, 25.0, 30.0, 0.0],
 ['Сыр Гауда', 338.0, 26.0, 26.0, 0.0],
 ['Сыр Чеддер', 369.0, 23.5, 30.5, 0.0],
 ['Сухарики ржаные с семечками', 451.0, 17.3, 16.0, 59.5],
 ['Хлебцы льняные "Тайские"', 507.0, 19.0, 39.0, 20.0],
 ['Хлебцы льняные Морские', 436.5, 14.1, 29.0, 1.5],
 ['Паутина', 12.0, 0.0, 0.0, 0.0],
 ['Хлебцы с чесноком и луком', 212.0, 7.9, 1.3, 43.3],
 ['Говядина сублимрованная', 474.0, 73.0, 20.0, 0.0],
 ['Свинина сублимрованная', 543.0, 58.0, 35.0, 0.0],
 ['Борщ Московский Галагала', 360.0, 15.0, 10.0, 52.0],
 ['Суп-гуляш галагала', 382.0, 15.0, 10.0, 55.0],
 ['Суп куриный с картофелем галагала', 390.0, 15.0, 12.0, 56.4],
 ['Суп говяжий с картофелем галагала', 390.0, 12.2, 12.0, 56.4],
 ['Суп гороховый с копченостями галагала', 390.0, 16.0, 11.0, 52.0],
 ['Суп-харчо "Острый"', 370.0, 13.5, 10.0, 55.6],
 ['Картофель сушеный', 333.0, 6.0, 74.0, 0.0],
 ['Омлет с грибами галагала', 526.0, 43.0, 30.0, 4.7],
 ['Омлет с копченостями галагала', 544.0, 45.0, 30.0, 4.7],
 ['Кус Кус', 336.0, 12.7, 0.6, 77.4]]

In [38]:
row_products_list = []
for i in range((products.shape[0])):
  row_products_list.append(list(products.iloc[i, :]))
row_products_list

[[1, 'Рис пропаренный Увелка', 160],
 [1, 'Свинина Кронидов', 250],
 [1, 'Хлебцы льняные "Тайские"', 110],
 [1, 'Балык "Королевский"', 50],
 [1, 'Шоколад молочный какао', 55],
 [2, 'Омлет с грибами галагала', 60],
 [2, 'Сыр Маасдам', 80],
 [2, 'Хлебцы льняные Морские', 55],
 [2, 'Суп гороховый с копченостями', 44],
 [2, 'Хлебцы льняные Морские', 55],
 [2, 'Колбаса с/к "Еврейская полусухая"', 80],
 [2, 'Говядина Кронидов', 250],
 [2, 'Крупа гречневая', 160],
 [2, 'Сухарики ржаные с семечками', 120],
 [2, 'Колбаса с/к "Еврейская полусухая"', 80],
 [2, 'Сухофрукты', 150],
 [2, 'Шоколад молочный миндаль', 80],
 [3, 'Каша Быстров', 80],
 [3, 'Сухофрукты', 150],
 [3, 'Козинак подсолнечный', 40],
 [3, 'Суп-харчо "Острый"', 44],
 [3, 'Говядина сублимрованная', 20],
 [3, 'Сухарики ржаные Finn Crisp', 100],
 [3, 'Сыр Гауда', 80],
 [3, 'Шоколад ремесленный', 50],
 [3, 'Капеллини Макфа', 250],
 [3, 'Свинина Кронидов', 250],
 [3, 'Сухарики ржаные Finn Crisp', 100],
 [3, 'Шоколад ремесленный', 50],
 [3, 'Козинак подсолнечный', 80],
 [4, 'Омлет с копченостями галагала', 60],
 [4, 'Колбаса с/к "Еврейская полусухая"', 80],
 [4, 'Хлебцы с чесноком и луком', 120],
 [4, 'Суп говяжий с картофелем галагала', 44],
 [4, 'Хлебцы с чесноком и луком', 120],
 [4, 'Сыр Гауда', 100],
 [4, 'Шоколад молочный какао', 55],
 [4, 'Кус Кус', 400],
 [4, 'Свинина сублимрованная', 100],
 [4, 'Сухарики ржаные с семечками', 120],
 [4, 'Колбаса с/к "Еврейская полусухая"', 80],
 [5, 'Каша Быстров', 80],
 [5, 'Шоколад молочный миндаль', 80],
 [5, 'Сыр Чеддер', 100],
 [5, 'Хлебцы льняные "Тайские"', 55],
 [5, 'Суп куриный с картофелем галагала', 44],
 [5, 'Хлебцы льняные "Тайские"', 55],
 [5, 'Козинак арахисовый', 80],
 [5, 'Балык "Королевский"', 100],
 [5, 'Крупа гречневая', 160],
 [5, 'Свинина сублимрованная', 100],
 [5, 'Сыр Чеддер', 100],
 [5, 'Хлебцы льняные "Тайские"', 110],
 [5, 'Сухофрукты', 150],
 [6, 'Каша Быстров', 80],
 [6, 'Хлебцы с чесноком и луком', 60],
 [6, 'Сыр Гауда', 100],
 [6, 'Суп гороховый с копченостями', 44],
 [6, 'Говядина сублимрованная', 20],
 [6, 'Хлебцы с чесноком и луком', 60],
 [6, 'Шоколад молочный какао', 55],
 [6, 'Сухофрукты', 150],
 [6, 'Капеллини Макфа', 250],
 [6, 'Говядина сублимрованная', 30],
 [6, 'Хлебцы с чесноком и луком', 120],
 [6, 'Балык "Королевский"', 100],
 [6, 'Козинак арахисовый', 80],
 [6, 'Шоколад молочный какао', 55],
 [7, 'Омлет с грибами галагала', 60],
 [7, 'Колбаса с/к "Еврейская полусухая"', 100],
 [7, 'Сухарики ржаные с семечками', 60],
 [7, 'Сухарики ржаные с семечками', 60],
 [7, 'Суп говяжий с картофелем галагала', 44],
 [7, 'Сыр Чеддер', 100],
 [7, 'Козинак подсолнечный', 80],
 [7, 'Рис пропаренный Увелка', 160],
 [7, 'Говядина Кронидов', 250],
 [7, 'Сухарики ржаные с семечками', 120],
 [7, 'Сыр Чеддер', 50],
 [7, 'Шоколад ремесленный', 50],
 [7, 'Козинак арахисовый', 80],
 [8, 'Каша Быстров', 80],
 [8, 'Сухофрукты', 150],
 [8, 'Сухарики ржаные Finn Crisp', 100],
 [8, 'Сыр Маасдам', 60],
 [8, 'Борщ Московский Галагала', 44],
 [8, 'Говядина сублимрованная', 40],
 [8, 'Сухарики ржаные Finn Crisp', 100],
 [8, 'Балык "Королевский"', 60],
 [8, 'Шоколад ремесленный', 50],
 [8, 'Кус Кус', 400],
 [8, 'Свинина сублимрованная', 100],
 [8, 'Сухарики ржаные Finn Crisp', 200],
 [8, 'Балык "Королевский"', 60],
 [8, 'Шоколад молочный какао', 55],
 [9, 'Сухарики ржаные с семечками', 120],
 [9, 'Балык "Королевский"', 80],
 [9, 'Сухофрукты', 150],
 [9, 'Каша Быстров', 80]]

In [39]:
dict_result1 = {'1':0, '2':0, '3':0, '4':0, '5':0, '6':0, '7':0, '8':0, '9':0}
dict_result_b = {'1':0, '2':0, '3':0, '4':0, '5':0, '6':0, '7':0, '8':0, '9':0}
dict_result_g = {'1':0, '2':0, '3':0, '4':0, '5':0, '6':0, '7':0, '8':0, '9':0}
dict_result_u = {'1':0, '2':0, '3':0, '4':0, '5':0, '6':0, '7':0, '8':0, '9':0}

In [40]:
list_kilo1 = []
list_kilo_b = []
list_kilo_g = []
list_kilo_u = []
for i in range(len(products)):
  for j in range(len(kilo)):
    if row_products_list[i][1] == row_kilo_list[j][0]:
      gram = row_products_list[i][2] / 100
      list_kilo1.append((row_kilo_list[j][1] * gram, row_products_list[i][0]))
      list_kilo_b.append((row_kilo_list[j][2] * gram, row_products_list[i][0]))
      list_kilo_g.append((row_kilo_list[j][3] * gram, row_products_list[i][0]))
      list_kilo_u.append((row_kilo_list[j][4] * gram, row_products_list[i][0]))
      #dict_result[str(row_products_list[i][0])] += list_kilo1.pop()
list_kilo1

[(560.0, 1),
 (872.5, 1),
 (557.7, 1),
 (85.0, 1),
 (330.55, 1),
 (315.59999999999997, 2),
 (296.0, 2),
 (240.07500000000002, 2),
 (171.6, 2),
 (240.07500000000002, 2),
 (384.8, 2),
 (532.5, 2),
 (576.0, 2),
 (541.1999999999999, 2),
 (384.8, 2),
 (822.0, 2),
 (459.20000000000005, 2),
 (267.2, 3),
 (822.0, 3),
 (212.0, 3),
 (162.8, 3),
 (94.80000000000001, 3),
 (347.0, 3),
 (270.40000000000003, 3),
 (270.0, 3),
 (860.0, 3),
 (872.5, 3),
 (347.0, 3),
 (270.0, 3),
 (424.0, 3),
 (326.4, 4),
 (384.8, 4),
 (254.39999999999998, 4),
 (171.6, 4),
 (254.39999999999998, 4),
 (338.0, 4),
 (330.55, 4),
 (1344.0, 4),
 (543.0, 4),
 (541.1999999999999, 4),
 (384.8, 4),
 (267.2, 5),
 (459.20000000000005, 5),
 (369.0, 5),
 (278.85, 5),
 (171.6, 5),
 (278.85, 5),
 (416.0, 5),
 (170.0, 5),
 (576.0, 5),
 (543.0, 5),
 (369.0, 5),
 (557.7, 5),
 (822.0, 5),
 (267.2, 6),
 (127.19999999999999, 6),
 (338.0, 6),
 (171.6, 6),
 (94.80000000000001, 6),
 (127.19999999999999, 6),
 (330.55, 6),
 (822.0, 6),
 (860.0, 6),
 (142.2, 6),
 (254.39999999999998, 6),
 (170.0, 6),
 (416.0, 6),
 (330.55, 6),
 (315.59999999999997, 7),
 (481.0, 7),
 (270.59999999999997, 7),
 (270.59999999999997, 7),
 (171.6, 7),
 (369.0, 7),
 (424.0, 7),
 (560.0, 7),
 (532.5, 7),
 (541.1999999999999, 7),
 (184.5, 7),
 (270.0, 7),
 (416.0, 7),
 (267.2, 8),
 (822.0, 8),
 (347.0, 8),
 (222.0, 8),
 (158.4, 8),
 (189.60000000000002, 8),
 (347.0, 8),
 (102.0, 8),
 (270.0, 8),
 (1344.0, 8),
 (543.0, 8),
 (694.0, 8),
 (102.0, 8),
 (330.55, 8),
 (541.1999999999999, 9),
 (136.0, 9),
 (822.0, 9),
 (267.2, 9)]

In [41]:
for i in list_kilo1:
  if i[1] == 1:
    dict_result1["1"] += i[0]
  if i[1] == 2:
    dict_result1["2"] += i[0]
  if i[1] == 3:
    dict_result1["3"] += i[0]
  if i[1] == 4:
    dict_result1["4"] += i[0]
  if i[1] == 5:
    dict_result1["5"] += i[0]
  if i[1] == 6:
    dict_result1["6"] += i[0]
  if i[1] == 7:
    dict_result1["7"] += i[0]
  if i[1] == 8:
    dict_result1["8"] += i[0]
  if i[1] == 9:
    dict_result1["9"] += i[0]
dict_result1

{'1': 2405.75,
 '2': 4963.849999999999,
 '3': 5219.7,
 '4': 4873.150000000001,
 '5': 5278.4,
 '6': 4451.7,
 '7': 4806.599999999999,
 '8': 5738.750000000001,
 '9': 1766.3999999999999}

In [42]:
for i in list_kilo_b:
  if i[1] == 1:
    dict_result_b["1"] += i[0]
  if i[1] == 2:
    dict_result_b["2"] += i[0]
  if i[1] == 3:
    dict_result_b["3"] += i[0]
  if i[1] == 4:
    dict_result_b["4"] += i[0]
  if i[1] == 5:
    dict_result_b["5"] += i[0]
  if i[1] == 6:
    dict_result_b["6"] += i[0]
  if i[1] == 7:
    dict_result_b["7"] += i[0]
  if i[1] == 8:
    dict_result_b["8"] += i[0]
  if i[1] == 9:
    dict_result_b["9"] += i[0]
dict_result_b

{'1': 82.55,
 '2': 203.17,
 '3': 178.77,
 '4': 241.13799999999998,
 '5': 243.44,
 '6': 190.52999999999997,
 '7': 205.838,
 '8': 264.93,
 '9': 66.84}

In [44]:
for i in list_kilo_g:
  if i[1] == 1:
    dict_result_g["1"] += i[0]
  if i[1] == 2:
    dict_result_g["2"] += i[0]
  if i[1] == 3:
    dict_result_g["3"] += i[0]
  if i[1] == 4:
    dict_result_g["4"] += i[0]
  if i[1] == 5:
    dict_result_g["5"] += i[0]
  if i[1] == 6:
    dict_result_g["6"] += i[0]
  if i[1] == 7:
    dict_result_g["7"] += i[0]
  if i[1] == 8:
    dict_result_g["8"] += i[0]
  if i[1] == 9:
    dict_result_g["9"] += i[0]
dict_result_g

{'1': 237.2,
 '2': 510.56999999999994,
 '3': 446.16,
 '4': 445.7879999999999,
 '5': 558.12,
 '6': 378.88,
 '7': 471.668,
 '8': 460.31999999999994,
 '9': 157.48000000000002}

In [45]:
for i in list_kilo_u:
  if i[1] == 1:
    dict_result_u["1"] += i[0]
  if i[1] == 2:
    dict_result_u["2"] += i[0]
  if i[1] == 3:
    dict_result_u["3"] += i[0]
  if i[1] == 4:
    dict_result_u["4"] += i[0]
  if i[1] == 5:
    dict_result_u["5"] += i[0]
  if i[1] == 6:
    dict_result_u["6"] += i[0]
  if i[1] == 7:
    dict_result_u["7"] += i[0]
  if i[1] == 8:
    dict_result_u["8"] += i[0]
  if i[1] == 9:
    dict_result_u["9"] += i[0]
dict_result_u

{'1': 172.10000000000002,
 '2': 302.15,
 '3': 502.8140000000001,
 '4': 537.856,
 '5': 367.41600000000005,
 '6': 497.45,
 '7': 386.586,
 '8': 720.13,
 '9': 171.2}

In [47]:
print(int(dict_result1["1"]), " ", int(dict_result_b["1"]), " ", int(dict_result_g["1"]), " ", int(dict_result_u["1"]))
print(int(dict_result1["2"]), " ", int(dict_result_b["2"]), " ", int(dict_result_g["2"]), " ", int(dict_result_u["2"]))
print(int(dict_result1["3"]), " ", int(dict_result_b["3"]), " ", int(dict_result_g["3"]), " ", int(dict_result_u["3"]))
print(int(dict_result1["4"]), " ", int(dict_result_b["4"]), " ", int(dict_result_g["4"]), " ", int(dict_result_u["4"]))
print(int(dict_result1["5"]), " ", int(dict_result_b["5"]), " ", int(dict_result_g["5"]), " ", int(dict_result_u["5"]))
print(int(dict_result1["6"]), " ", int(dict_result_b["6"]), " ", int(dict_result_g["6"]), " ", int(dict_result_u["6"]))
print(int(dict_result1["7"]), " ", int(dict_result_b["7"]), " ", int(dict_result_g["7"]), " ", int(dict_result_u["7"]))
print(int(dict_result1["8"]), " ", int(dict_result_b["8"]), " ", int(dict_result_g["8"]), " ", int(dict_result_u["8"]))
print(int(dict_result1["9"]), " ", int(dict_result_b["9"]), " ", int(dict_result_g["9"]), " ", int(dict_result_u["9"]))

2405   82   237   172
4963   203   510   302
5219   178   446   502
4873   241   445   537
5278   243   558   367
4451   190   378   497
4806   205   471   386
5738   264   460   720
1766   66   157   171