<a href="https://colab.research.google.com/github/Valentina-Shatylovich/GEO-Museum/blob/main/6_14_Professions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Вася планирует карьеру и переезд. Для это составил таблицу, в которой для каждого региона записал зарплаты для разных интересные ему профессий. Таблица доступна по ссылке https://online.hse.ru/pluginfile.php/604906/question/questiontext/1261245/1/789263/salaries_6_5_1.xlsx. Выведите название региона с самой высокой медианной зарплатой (медианой называется элемент, стоящий в середине массива после его упорядочивания) и, через пробел, название профессии с самой высокой средней зарплатой по всем регионам.

In [2]:
import pandas as pd

In [3]:
works = pd.read_excel("/content/salaries_6_5_1.xlsx")
works

                          Unnamed: 0  ...  Актёр на роль человека-бутерброда
0                             Москва  ...                                213
1                         Улан-Батор  ...                              21523
2  Посёлок гидроузла имени Куйбышева  ...                               4356
3                           Крёкшино  ...                                342
4               Станица Юго-Северная  ...                               3224
5                       Куала-Лумпур  ...                              53632
6                     Хабнарфьордюр   ...                                 32
7                         Ытык-Кюёль  ...                               3453

[8 rows x 8 columns]

In [4]:
row_list = []
for i in range((works.shape[0])):
  row_list.append(list(works.iloc[i, :]))

In [5]:
row_list

[['Москва', 765, 9876, 546585, 6, 65876, 765, 213],
 ['Улан-Батор', 87, 87698, 7698, 965765, 769, 659, 21523],
 ['Посёлок гидроузла имени Куйбышева', 987595, 87, 5, 7676, 8765, 9, 4356],
 ['Крёкшино', 9876, 8769, 9859, 897698, 7, 69, 342],
 ['Станица Юго-Северная', 8769, 987687, 23, 1212, 9876, 23871, 3224],
 ['Куала-Лумпур', 189710, 787, 765679, 9769, 57686, 769829, 53632],
 ['Хабнарфьордюр ', 65, 76796, 807, 765685, 97659, 56913, 32],
 ['Ытык-Кюёль', 769, 786578, 1368, 59625, 6758, 76587, 3453]]

In [6]:
works.shape

(8, 8)

In [8]:
towns = []
for i in range(0, len(row_list)):
  towns.append(row_list[i][0])
towns

['Москва',
 'Улан-Батор',
 'Посёлок гидроузла имени Куйбышева',
 'Крёкшино',
 'Станица Юго-Северная',
 'Куала-Лумпур',
 'Хабнарфьордюр ',
 'Ытык-Кюёль']

In [9]:
for i in range(0, len(row_list)):
  row_list[i] = row_list[i][1:]
row_list

[[765, 9876, 546585, 6, 65876, 765, 213],
 [87, 87698, 7698, 965765, 769, 659, 21523],
 [987595, 87, 5, 7676, 8765, 9, 4356],
 [9876, 8769, 9859, 897698, 7, 69, 342],
 [8769, 987687, 23, 1212, 9876, 23871, 3224],
 [189710, 787, 765679, 9769, 57686, 769829, 53632],
 [65, 76796, 807, 765685, 97659, 56913, 32],
 [769, 786578, 1368, 59625, 6758, 76587, 3453]]

In [12]:
for i in range(0, len(row_list)):
  row_list[i] = sorted(row_list[i])
row_list

[[6, 213, 765, 765, 9876, 65876, 546585],
 [87, 659, 769, 7698, 21523, 87698, 965765],
 [5, 9, 87, 4356, 7676, 8765, 987595],
 [7, 69, 342, 8769, 9859, 9876, 897698],
 [23, 1212, 3224, 8769, 9876, 23871, 987687],
 [787, 9769, 53632, 57686, 189710, 765679, 769829],
 [32, 65, 807, 56913, 76796, 97659, 765685],
 [769, 1368, 3453, 6758, 59625, 76587, 786578]]

In [15]:
dict_med = {}
for i in range(0, len(row_list)):
  dict_med[towns[i]] = row_list[i][len(row_list) // 2 - 1]
dict_med

{'Крёкшино': 8769,
 'Куала-Лумпур': 57686,
 'Москва': 765,
 'Посёлок гидроузла имени Куйбышева': 4356,
 'Станица Юго-Северная': 8769,
 'Улан-Батор': 7698,
 'Хабнарфьордюр ': 56913,
 'Ытык-Кюёль': 6758}

In [16]:
max = 0
for key, value in dict_med.items():
  if value > max:
    max = value
    town = key
town

'Куала-Лумпур'

In [18]:
column_list = []
for i in range((works.shape[1])):
  column_list.append(list(works.iloc[:, i]))
column_list

[['Москва',
  'Улан-Батор',
  'Посёлок гидроузла имени Куйбышева',
  'Крёкшино',
  'Станица Юго-Северная',
  'Куала-Лумпур',
  'Хабнарфьордюр ',
  'Ытык-Кюёль'],
 [765, 87, 987595, 9876, 8769, 189710, 65, 769],
 [9876, 87698, 87, 8769, 987687, 787, 76796, 786578],
 [546585, 7698, 5, 9859, 23, 765679, 807, 1368],
 [6, 965765, 7676, 897698, 1212, 9769, 765685, 59625],
 [65876, 769, 8765, 7, 9876, 57686, 97659, 6758],
 [765, 659, 9, 69, 23871, 769829, 56913, 76587],
 [213, 21523, 4356, 342, 3224, 53632, 32, 3453]]

In [19]:
column_list = column_list[1:]
column_list

[[765, 87, 987595, 9876, 8769, 189710, 65, 769],
 [9876, 87698, 87, 8769, 987687, 787, 76796, 786578],
 [546585, 7698, 5, 9859, 23, 765679, 807, 1368],
 [6, 965765, 7676, 897698, 1212, 9769, 765685, 59625],
 [65876, 769, 8765, 7, 9876, 57686, 97659, 6758],
 [765, 659, 9, 69, 23871, 769829, 56913, 76587],
 [213, 21523, 4356, 342, 3224, 53632, 32, 3453]]

In [21]:
list_prof = works.columns
list_prof = list_prof[1:]
list_prof

Index(['Программист', 'Менеджер по клинингу', 'Дизайнер онлайн-курсов',
       'Собачий парикмахер', 'Учитель для нейросетей',
       'Сотрудник конной милиции', 'Актёр на роль человека-бутерброда'],
      dtype='object')

In [22]:
dict_prof = {}
for i in range(len(column_list)):
  dict_prof[list_prof[i]] = sum(column_list[i]) // len(column_list[i])
dict_prof

{'Актёр на роль человека-бутерброда': 10846,
 'Дизайнер онлайн-курсов': 166503,
 'Менеджер по клинингу': 244784,
 'Программист': 149704,
 'Собачий парикмахер': 338429,
 'Сотрудник конной милиции': 116087,
 'Учитель для нейросетей': 30924}

In [23]:
max = 0
for key, value in dict_prof.items():
  if value > max:
    max = value
    prof = key
prof

'Собачий парикмахер'

In [27]:
print(town, " ", prof)

Куала-Лумпур   Собачий парикмахер